.background{
    position:absolute; 
    top: -15px;
    width: 100%; 
    height: 100vh;   
    z-index: -1;
    background: linear-gradient(180deg, rgba(5, 11, 20, 0.28) 0%,  rgba(1, 13, 32, 0.69) 67.53%, #0A0B1A 85.33%) center center/cover no-repeat
     , url('../images/background.png') center center/cover no-repeat ;
}
